{% extends 'cloned/base.html' %}
{% block title %}Comment on tweet{% endblock title %}

{% block content %}
<span><h3>{{ tweet.tweet }}</h3></span>
<span>
{% if is_liked  %}
  <a href="{% url 'cloned:unlike' tweet.pk %}"><button class="btn btn-primary" type="submit">
    Like <span class="badge">{{ likes }}</span>
  </button></a>
{% else %}
  <a href="{% url 'cloned:like' tweet.pk %}"><button class="btn btn-default" type="submit">
      Like <span class="badge">{{ likes }}</span>
  </button></a>
{% endif %}
</span>
{%if user == tweet.author %}
<span>
<div class="btn-group">
 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'cloned:edit_tweet' tweet.pk %}">Edit</a></li>
    <li><a class="dropdown-item" href="{% url 'cloned:delete_tweet' tweet.pk %}">Delete</a></li>
    <!--<a class="dropdown-item" href="{% url 'cloned:edit_tweet' tweet.pk %}"></a>-->
  </div>
</span>
{% endif %}

<form action="" method="post" class="form-horizontal">
	{% csrf_token %}
<div class="form-group">
<label for="id_comment_text" class="col-sm-2 control-label">Comment:</label>
<div class="col-sm-8">
<textarea class="form-control" name="comment_text" rows="6" required id="id_comment_text"></textarea>
</div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-info">Comment</button>
    </div>
  </div>
</form>

{% for comment in comments %}
 <div class="comments">
   <p>{{ comment.comment_author }}</p>
   <span><i>{{ comment.comment_text }}</i></span>
 </div>
{% endfor %}

{% endblock content %}

